* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.content-top {
    width: 100%;
    height: 10vh;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-name-icon {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-register {
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-mid {
    width: 100%;
    height: 100vh;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content-bot {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}