* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 47%;
    border: 1px solid black;
    text-align: center;
}

.content-top {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.content-mid {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.content-bot {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}