* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container a{
    text-decoration: none;
    color: black;
    border-radius: 47%;
    border: 1px solid black;
    text-align: center;
    background-color: black;
}

.content-top {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.content-mid {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.content-bot {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.fa-solid {
    margin: 10px;
}

.fa-right-to-bracket {
    color: white;
}

.fa-user-plus {
    color: white;
}

.fa-brands {
    margin: 10px;
}

.fa-github {
    color: white;
}

.fa-instagram {
    color: rgb(228, 64, 95);
}

.fa-x-twitter {
    color: white;
}